@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}

.glass {
  @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-sm;
}